{% extends 'KidsGrasp/Header.html' %}
{% load staticfiles %}
{% block head %}
<title>English</title>
{% endblock %}

{% block body %}
<br/>
<button type="button" style="width:100%;font-size:50px;" class="btn btn-danger">English</button>
<br/><br/>
<style>
@keyframes imageanimate {
    0% {width:10px; height:10px;}
    50% {width:400px; height:400px;}
    100% {width:10px; height:10px;}
}
@-webkit-keyframes imageanimate {
    0% {width:10px; height:10px;}
    50% {width:400px; height:400px;}
    100% {width:10px; height:10px;}
}
#image{
    animation : imageanimate 6s infinite;
}
</style>
<div class="jumbotron jumbotron-fluid">
<div class="container">
<div class="row">
<div class="col-md-4">
<img src="../../static/English/A.jpg" id="image" width="100%" height="100%"/>
</div>
<div class="col-md-8" style="font-size:100px;text-align:center;">
<span id="text">A for Apple<br/>a for apple</span>
</div>
</div>
<br/>
<div class="row">
<div class="col-md-6">
<button type="button" style="width:100%;font-size:20px;" class="btn btn-success" onclick="changeAlphabetPrev()">Previous</button>
</div>
<div class="col-md-6">
<button type="button" style="width:100%;font-size:20px;" class="btn btn-danger" onclick="changeAlphabetNext()">Next</button>
</div>
</div>
</div>
</div>
<script>
var i=0;
var data=[
    ["../../static/English/A.jpg","A for Apple<br/>a for apple"],
    ["../../static/English/B.jpg","B for Ball<br/>b for ball"],
    ["../../static/English/C.jpg","C for Cat<br/>c for cat"],
    ["../../static/English/D.jpg","D for Dog<br/>d for dog"],
    ["../../static/English/E.jpg","E for Elephant<br/>e for elephant"],
    ["../../static/English/F.jpg","F for Fish<br/>f for fish"],
    ["../../static/English/G.jpg","G for Goat<br/>g for goat"],
    ["../../static/English/H.jpg","H for Horse<br/>h for horse"],
    ["../../static/English/I.jpg","I for Ice Cream<br/>i for ise cream"],
    ["../../static/English/J.jpg","J for Joker<br/>j for joker"],
    ["../../static/English/K.jpg","K for Kite<br/>k for kite"],
    ["../../static/English/L.jpg","L for Lion<br/>l for lion"],
    ["../../static/English/M.jpg","M for Monkey<br/>m for monkey"],
    ["../../static/English/N.jpg","N for Nest<br/>n for nest"],
    ["../../static/English/O.jpg","O for Owl<br/>o for ow;"],
    ["../../static/English/P.jpg","P for Parrot<br/>p for parrot"],
    ["../../static/English/Q.jpg","Q for Queen<br/>q for queen"],
    ["../../static/English/R.jpg","R for Rat<br/>r for rat"],
    ["../../static/English/S.jpg","S for Sun<br/>s for sun"],
    ["../../static/English/T.jpg","T for Tiger<br/>t for tiger"],
    ["../../static/English/U.jpg","U for Umbrella<br/>u for umbrella"],
    ["../../static/English/V.jpg","V for Van<br/>v for van"],
    ["../../static/English/W.jpg","W for Whale<br/>w for whale"],
    ["../../static/English/X.jpg","X for X-mas Tree<br/>x for x-mas tree"],
    ["../../static/English/Y.jpg","Y for Yak<br/>y for yak"],
    ["../../static/English/Z.jpg","Z for Zebra<br/>z for zebra"],

];
function changeAlphabetNext(){
    if(i<25){
        i++;
        document.getElementById("image").src=data[i][0];
        document.getElementById("text").innerHTML=data[i][1];
    }
}
function changeAlphabetPrev(){
    if(i>0){
        i--;
        document.getElementById("image").src=data[i][0];
        document.getElementById("text").innerHTML=data[i][1];
    }
}
</script>
{% endblock %}